<p>menu works!</p>

<link href="../../../../assets/css/bootstrap.css" rel="stylesheet">
<!-- Font-awesome -->
<link href="../../../../assets/css/font-awesome.css" rel="stylesheet">
<!-- Bootstrap -->
<link href="../../../../assets/css/bootstrap.css" rel="stylesheet">
<!-- Slick Slider -->
<link href="../../../../assets/css/slick.css" rel="stylesheet">
<!-- Slick Slider -->
<link href="../../../../assets/css/prettyphoto.css" rel="stylesheet">
<!-- Typography -->
<link href="../../../../assets/css/typography.css" rel="stylesheet">
<link href="svg-icon.css" rel="stylesheet">
<!-- widget.css -->
<link href="../../../../assets/css/side-widget.css" rel="stylesheet">
<!-- component-responsive.css -->
<link href="../../../../assets/css/responsive.css" rel="stylesheet">
<!-- component-responsive.css -->
<link href="../../../../assets/css/component.css" rel="stylesheet">
<!-- shortcodes.css -->
<link href="../../../../assets/css/shortcodes.css" rel="stylesheet">
<!-- colors.css -->
<link href="../../../../assets/css/colors.css" rel="stylesheet">
<!-- style.css -->
<link href="style.css" rel="stylesheet">
